/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,200&family=Noto+Serif:ital,wght@0,500;1,500&family=Sanchez:ital@0;1&display=swap");

/* Colors */
$colors: (
  primary: #2d3142,
  secondary: #ffffff,
  accent: #2667FF,
  accent-light: #4d8fff,
  accent-dark: #0039cb,
);

@function color($color) {
  @return map-get($map: $colors, $key: $color);
}

@function colorAlpha($color, $alpha) {
  @return rgba(color($color), $alpha);
}

$gradients: (
  primary: linear-gradient(170deg, color(accent) 0%, color(accent-dark) 100%),
);

@function gradient($gradient) {
  @return map-get($map: $gradients, $key: $gradient);
}

/* Fonts */
$fonts: (
  body: (
    "Noto Serif",
    serif,
  ),
  hero: (
    "Sanchez",
    sans-serif,
  ),
  mono: (
    "IBM Plex Mono",
    monospace,
  ),
);

@function font($font) {
  @return map-get($map: $fonts, $key: $font);
}

/* Font Sizes */
$fontsizes: (
  s: 0.75rem,
  r: 1rem,
  m: 1.25rem,
  l: 1.563rem,
  xl: 1.953rem,
  xxl: 2.441rem,
  xxx: 3.052rem,
);

@function size($size) {
  @return map-get($map: $fontsizes, $key: $size);
}

/* Box Sizing */
$margin: 0.2rem;
$padding: 0.2rem;

/* Border Sizing */
$border-width: 2pt;
$border-radius: 2pt;

* {
  font-family: font(body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  //font-size: 112.5%;
}

body {
  z-index: 0;
  color: color(primary);
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: $padding * 4;
  font-family: font(body);
  scrollbar-width: none;
  width: 100%;
  max-width: 900px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: font(hero);
}

h1 {
  font-size: size(xxl);
}

h2 {
  font-size: size(xl);
  margin-bottom: $margin;
  border-bottom: $border-width solid;
  border-image-slice: 1;
  border-image-source: gradient(primary);
}

h3 {
  font-size: size(l);
}

h4 {
  font-size: size(m);
}

a {
  font-family: font(mono);
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: color(accent);
  background: gradient(primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover,
  &:focus {
    text-decoration: underline;
    -webkit-text-fill-color: color(accent);
  }
}

p,
a {
  margin: $margin / 2 0;
}

header {
  & > div {
    display: flex;
    align-items: baseline;
    gap: 4pt;
    h1 {
      margin: 0;
      & + p {
        opacity: 80%;
        //margin: $margin $margin;
      }
    }
  }
  border-left: $border-width solid;
  border-image-slice: 1;
  border-image-source: gradient(primary);
  padding-left: 1ch;
}

ul {
  margin: 0;
  position: relative;

  li {
    list-style: symbols("+");
    position: inherit;

    p.date-range {
      width: 13ch;
      margin: $margin / 4;
      opacity: 0.6;
      font-size: size(m);
      position: absolute;
      top: 0;
      right: 0;

      span.present {
        font-size: size(r);
        text-transform: uppercase;
        vertical-align: 4%;
      };
    }
  }
}

div.contact {
  //font-size: size(s);
  display: flex;
  flex-flow: row nowrap;

  * {
    margin: 0 $margin * 8 0 0;
  }
}

section {
  padding: $padding 0;
}

@media print {
  // section.professional-skills {
  //   page-break-after: always;
  // }

  a{
    -webkit-text-fill-color: color(accent);
  }
}
